Options +FollowSymLinks
IndexIgnore *

<IfModule mod_expires.c>
ExpiresActive On
############################################################
## Add default Expires header
## http://developer.yahoo.com/performance/rules.html#expires
############################################################
<FilesMatch "\.(ico|pdf|flv|jpg|jpeg|png|gif|js|css|swf)$">
 ExpiresDefault "access plus 1 year"
</FilesMatch>
</IfModule>

<IfModule mod_rewrite.c>
# AllowOverride FileInfo
RewriteEngine on
# Use: RewriteBase /<subdirectory> if installed in subdirectory
RewriteBase /

# CodeIgniter pages with their own controllers 
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php [L]

</IfModule>
